<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="src/vue.js"></script>
    <title>Vue.js</title>
</head>

<body>
    <!-- Aula -->
    <div id="app">
        <input type="text" placeholder="CEP" maxlength="8" v-model="cep">
        <h1>CEP: {{cep}}</h1>
        <ul>
            <li v-for="(valor, chave) in endereco">
                {{chave}}: {{valor}}
            </li>
        </ul>
    </div>

    <script>
        const vm = new Vue({
            el: "#app",
            data: {
                cep: "",
                endereco: {}
            },
            watch: {
                cep(valor){
                    if(valor.length === 8){
                        fetch(`https://viacep.com.br/ws/${valor}/json/`)
                        .then(r => r.json())
                        .then(json => {
                            this.endereco = json;
                        })
                    }
                }
            }
        })
    </script>

    <!-- Exercício: 
        
        
    -->

    <div id="app2">
        
    </div>

    <script>
        const vm2 = new Vue({
            el: "#app2",
            data: {
                
            }
        })
    </script>

</body>

</html>